.workflow-edit-page {
    
    .ai-block {
        border: 1px solid grey;
        padding: 10px;
        margin-bottom: 4px;
    }

    .workflow {
        border: 1px solid grey;
        height: 70vh;
        padding: 5px;
    }
}
